[Unit]
Description=Minecraft Service
After=network.target

[Service]
Type=simple
User=ec2-user
Nice=1
Restart=on-failure
RestartSec=10
KillMode=none
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=/minecraft
ExecStart=/minecraft/run.sh --nogui
ExecStop=/usr/bin/pkill -f "java"

[Install]
WantedBy=multi-user.target